.Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #48de07;
    padding: 10px 20px;
  }
  
  .Logo {
    width: 100px;
    height: 50px;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-links li a {
    transition: box-shadow ease-in-out;
    color: white;
    font-size: 18px;
    text-decoration: none;
  }
  
  .nav-links li a:hover {
    box-shadow: 0 18px 18px rgba(147, 147, 147, 0.475);
  }
  